@charset "UTF-8";

img {
  width: 100%;
  }

  wrapper {
    color: #ffffff;

  }

  @media (max-width:1000px) {
    body {
      margin: 0px;
      float:none;
      font-family: 游明朝;
    }
    header {
      position: fixed;
      padding: 20px 0px 0px 10px;
      width: 100%;
      height: 50px;
      top: 0;
      background-color: #ffffff;
      z-index: 1000;
    }
  
    header img {
      width: 40%;
    }
    
    #arrows {
      position: absolute;
      height: 21px;
      width: 24px;
      right: 30px;
      display: inline-block;
      box-sizing: border-box;
    }
  
    #arrows div {
      position: absolute;
      height: 2px;
      width: 28px;
      border-bottom:5px;
      background-color:#4E5346;
      box-sizing: border-box;
    }
  
    #arrows div:nth-of-type(1) {
      top: 0;
    }
  
    #arrows div:nth-of-type(2) {
      top: 10px;
    }
  
    #arrows div:nth-of-type(3) {
      bottom: 0;
    }
  }


   /* #arrows {
     position: absolute;
     height: 21px;
     width: 24px;
     left: 900px;
     display: inline-block;
     box-sizing: border-box;
   }

   #arrows div {
     position: absolute;
     left: 50px;
     height: 2px;
     width: 28px;
     border-bottom:5px;
     background-color:#4E5346;
     display: inline-block;
     box-sizing: border-box;
   }

   #arrows div:nth-of-type(1) {
     top: 0%;
   }

   #arrows div:nth-of-type(2) {
     top: 10px;
   }

   #arrows div:nth-of-type(3) {
     bottom: 0px;
   }
    */
  .main {
    color: #4E5346;
    font-size: 15px;
  }

  .footer {
    display: inline-block;
    color: #4E5346;
    background-color: #ffffff;
    font-size: 15px;
    padding: 50px 20px 0px 20px;
  }

  a  {
    color: #4E5346;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover {
    color: #4E5346;
  }

  .information {
    box-sizing: border-box;
    width: 70px;
    text-align: center;
    border: 1px solid #dcddda;
    margin: 0px 10px;
    padding: 0px 5px 0px 5px;
    font-size: 11px;
  }

  .top {
    width:100%;
    height: auto;
  }

    /* .news {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and(max-width:768px) {
      .news, .date, .information {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
      }
    }

  .news h2 {
    margin: 0px 10px;
    padding:0px;
    font-size: 15px;
  }

  .date {
    margin: 0px 10px;
    padding:0;
    font-size: 13px;
  }

  .website {
    margin-left:10px;
    margin-bottom:60px;
  }

  .website p {
    font-size: 14px;
    padding: 0px 10px 0px 18px;
  }

  .website a {
    font-size: 13px;
    display: block;
    background: url(images/arrow_green_right.svg) right top 6px/60px 4px no-repeat;
    margin-left: 140px;
    padding: 0px;
  } */

  @media (max-width:1000px) {

    .news {
      display: flex;
      align-items: baseline;
      margin: 20px 0px 0px 0px;
      padding-left: 5px;
      font-weight: bolder;
    }
  
    .news h2 {
      margin: 0px 10px;
      padding:0px;
      font-size: 15px;
      flex-basis: 10%;
    }
  
    .date {
      margin: 0px 10px;
      padding:0;
      font-size: 13px;
      flex-basis: 10%;
    }
  
    .website {
      font-size: 14px;
      padding: 0px 10px 0px 18px;
      flex-basis: 60%;
    }
  
    .arrow {
      font-size: 13px;
      background: url(images/arrow_green_right.svg) right top 1px/60px 15px no-repeat;
      padding: 0px;
      width: 200px;
    }
  
    .website p {
      font-size: 14px;
      font-weight: bold;
    }
  
    .website a {
      font-size: 13px;
      display: block;
      background: url(images/arrow_green_right.svg) right top 6px/60px 4px no-repeat;
      margin: 0px 0px 70px 190px;
      padding: 0px;
      font-weight: bold;
    }
  }

  @media (max-width:1000px) {

    .photo img {
      display: block;
      padding-left: 20px;
      margin: 0px;
      width: 95%;
    }
    
    .add {
      font-weight: 400;
    }

    .english {
      font-size: 30px;
      margin: 0px;
      padding:30px 10px 0px 20px;
      color: #4E5346;
    }
    
    .jp {
      font-size: 13px;
      margin: 6px 0px 0px 0px;
      color: #4E5346;
      padding: 0px 0px 0px 25px;
      font-weight: bolder;
    }
  
    .text {
      font-size: 15px;
      margin: 40px 0px 60px;
      color: #4E5346;
      padding: 0px 10px 0px 20px;
      font-weight: bolder;
    }

    .text p {
      margin: 0px 0px 10px 0px;
    }
  }

    /* .photo img {
      display: block;
      padding-left: 20px;
      margin: 0px;
      width: 95%;
    } */
    
    /* .english {
      font-size: 30px;
      margin: 0px;
      padding:30px 10px 0px 20px;
      color: #4E5346;
    }
    
    .jp {
      font-size: 13px;
      margin: 6px 0px 0px 0px;
      color: #4E5346;
      padding: 0px 0px 0px 25px;
    }

    .text {
      font-size: 15px;
      margin: 40px 0px 60px;
      color: #4E5346;
      padding: 0px 10px 0px 20px;
    } */

  .side {
    display: flex;
    text-align: center;
  }

  .explain {
    font-size: 14px;
    text-align: center;
    border:1px solid #4E5346;
    box-sizing: border-box;
    margin: 30px 20px 0px 40px;
    padding: 30px 0px 30px 20px;
    width: 80%;
    font-weight: bold;
  }

  .sugiyama {
    background: url(images/arrow_green_right.svg) right center/60px 6px no-repeat;
    display: inline-block;
    padding-right: 100px;
  }

@media (max-width:1000px) {

  .eg {
    text-align: center;
    margin: 130px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    color: #4E5346;
    animation-name: quality;
    animation-duration: 3xs;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    margin: 80px 0px 0px 0px;
    width:100%;
  }
}

  @keyframes quality {
    0%{transform: translateY(-10px);}
    100%{transform: rotateY(-10px);}
  }


  .products {
    font-size: 14px;
    color: #4E5346;
    text-align: center;
    margin: 3px 0px 90px 0px;
    font-weight: 400;
    padding-left: 20px;
  }

  @media (max-width:1000px) {

    .chair {
      margin-top: 90px;
      padding: 0px 20px;
    }
  
    .goods, .woods, .woody {
      display:block;
      padding: 0px 20px;
    }
  
    .goods h3 {
      font-size:15px;
      background: url(images/arrow_green_right.svg) right center/60px 40px no-repeat;
      margin:10px 0px 20px 0px;
      color: #4E5346;
    }
  
    .woody h3 {
      font-size: 15px;
      background: url(images/arrow_green_right.svg) right center/60px 40px no-repeat;
      margin: 10px 0px 20px 0px;
      color: #4E5346;
    }
    .skills {
      margin-top: 30px;
      padding: 0px 20px;
    }
  
    .facility {
      display: block;
      padding: 0px 20px;
    }
  
    .facility h3 {
      font-size: 15px;
      background: url(images/arrow_green_right.svg) right center/60px 40px no-repeat;
      margin: 10px 0px 20px 0px;
      color: #4E5346;
    }
  }

  .oneofone {
    display: flex;
  }
  
  .chair {
    margin-top: 0px;
    padding: 0 20px;
  }
  
  .woods {
    padding: 0 20px;
  }
  .goods, .woods, .woody {
    display:block;
    /* padding: 0px 20px; */
  }
  
  .goods h3 {
    font-size:15px;
    background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
    margin:10px 0px 30px 0px;
    color: #4E5346;
  }
  
  .woody h3 {
    font-size: 15px;
    background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
    margin: 10px 0px 30px 0px;
    color: #4E5346;
  }
  
  .skills {
    padding: 0px 20px;
  }
  
  .facility {
    display: block;
    /* padding: 0px 20px; */
  }
  
  .facility h3 {
    font-size: 15px;
    background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
    margin: 10px 0px 30px 0px;
    color: #4E5346;
  }

 .works {
   text-align: center;
   font-size: 30px;
   color: #4E5346;
   margin: 100px 0 0 0;
 }


 .cases {
   font-size: 13px;
   color: #4E5346;
   padding-bottom: 50px;
   text-align: center;
   margin: 0;
   font-weight: 600;
 }

 @media (max-width:1000px) {

   .pictures {
     position: relative;
     overflow: hidden;
     width: 300px;
     height: 300px;
     margin: auto;
     background: #ffffff;
    }
    
    .pictures img {
      display: block;
      position: absolute;
      width: inherit;
      height: inherit;
     left: -100%;
     animation-name: pictures;
     animation-duration: 21s;
     animation-timing-function: ease-out;
     animation-delay: 1s;
     animation-iteration-count: infinite;
     animation-direction: normal;
     animation-fill-mode: backwards;
     animation-play-state: running;
   }
  
  .pictures img:nth-of-type(1) { animation-delay: 1s }
  .pictures img:nth-of-type(2) { animation-delay: 6s }
  .pictures img:nth-of-type(3) { animation-delay: 11s }
  .pictures img:nth-of-type(4) { animation-delay: 16s }
  .pictures img:nth-of-type(5) { animation-delay: 21s }
   
  @keyframes pictures  {
    0% {left:-100%;}
    2%{left: 0;}
    18%{left:0;}
    20%{left: 100%;}
    100%{left: 100%;}
  }
 }

 

 /* .about {
   background-color: #4E5346;
  margin: 80px 0px 0px 0px;
  padding: 30px 15px 0px 15px;
 }

 .introduction {
   font-size: 30px;
   color: #ffffff;
   text-align: center;
 }

 .same {
   font-size: 13px;
   color: #ffffff;
   text-align: center;
   margin: 0;
 }

 .address {
   background-color: #4E5346;
   color: #ffffff;
   padding: 40px 20px 80px 20px;
 }

 .address p {
   text-align: center;
   font-size: 15px;
   padding: 3px 0px 0px 30px;
   width: 300px
 }

 .address a {
   display: block;
   border: 1px solid #fff;
   margin: 50px 0;
 }

 .info, .hire {
   background-color: #4E5346;
   color: #ffffff;
   margin: 0 30px;
   display: block;
   background: url(images/arrow_white_right.svg) right center/60px 90px no-repeat;
   text-align: center;
   box-sizing: border-box;
   padding: 20px 90px 20px 30px;
  }

 .address img {
   width: 20%;
   margin: 0px 0px 40px 140px;
   text-align: center;
 } */

 .us {
  font-size: 14px;
  color: #4E5346;
  border: 1px solid #4E5346;
  box-sizing: border-box;
  padding: 30px 40px 30px 10px;
  margin: 45px 20px 90px 20px;
  font-weight: bold;
 }
 
 .example {
   background: url(images/arrow_green_right.svg) right center/60px 4px no-repeat;
   display: block;
   text-align: center;
   padding-right:30px;
}

@media (max-width:1000px) {

  .about {
    background-color: #4E5346;
   margin: 80px 0px 0px 0px;
   padding: 30px 15px 0px 15px;
  }
 
  .introduction {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
 
  .same {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
 
  .address {
    background-color: #4E5346;
    color: #ffffff;
    padding: 40px 20px 80px 20px;
    text-align: center;
  }
 
  .address p {
    text-align: center;
    font-size: 15px;
  }
 
  .address a {
    display: block;
    border: 1px solid #fff;
    margin: 50px 0;
  }
 
  .info, .hire {
    background-color: #4E5346;
    color: #ffffff;
    margin: 0 30px;
    display: block;
    background: url(images/arrow_white_right.svg) right center/60px 90px no-repeat;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 90px 20px 30px;
   }
 
  .address img {
    width: 20%;
  }

  .final {
    background-color: #ffffff;
    color: #4E5346;
    font-size: 14px;
  }
 
  .last {
    text-align: center;
    margin-top: 20px;
  }

  .last p {
    font-size: 14px;
    margin: 2px 0px 3px 0px;
  }
 
  .last img {
    width: 45%;
    margin-bottom: 30px;
  }
 
  .last a {
    /* margin: 0px 0px 0px 150px; */
    text-align: center;
    font-size: 12px;
    display: block;
  }
 
  .last .copy {
    color: #4E5346;
    font-size: 11px;
  }
 
  
  .sns {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0px 30px 0px;
  }
}

.show-only-pc {
  display: none;
}

@media (min-width: 1001px)  {
    .show-only-sp {
      display: none; 
    }

    .show-only-pc {
      display: block;
    }
    
    body {
      margin: 0px;
      float: none;
      font-family: toppan-bunkyu-mincho-pr6n, "ヒラギノ明朝 Pro W3", HiraMinPro-W3, 游明朝, "Yu Mincho", YuMincho, HG明朝E, "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
     }
     
     wrapper {
      color: #ffffff;
     }

     /* img {
     width: 100%;
    }
    
    wrapper {
     color: #ffffff;
    }
    
    body {
     margin: 0px;
     float: none;
     font-family: toppan-bunkyu-mincho-pr6n, "ヒラギノ明朝 Pro W3", HiraMinPro-W3, 游明朝, "Yu Mincho", YuMincho, HG明朝E, "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    } */
    
    header {
     position: fixed;
     display:flex;
     -webkit-box-align: center;
     align-items: center;
     font-size: 14px; 
     letter-spacing: 0.07em;
       width: 100%;
       height: 120px;
       top: 0;
       background-color: #ffffff;
       z-index: 1000;
    }
    
       header img {
         width: 180px;
         padding-left: 40px;
       }
    
       #intro {
         display: flex;
         align-items: center;
         height: 100%;
       }
       header h2 {
         font-weight: 400;
         font-size: 14px;
       }
       #manufacture {
         flex-basis: 70%;
         display: flex;
         justify-content: space-around;
       }
       #hiring {
         flex-basis: 10%;
         border-left: 1px solid #dcddda;
         border-right: 1px solid #dcddda;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       #hiring:hover {
         background-color: #4e5346;
         color: #ffffff;
       }
       #contact {
         flex-basis: 20%;
         border: 1px solid #ddd;
         background-color: #4e5346;
         color: #ffffff;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       #contact:hover {
         opacity: .7;
       }

       header.menu {
        display: flex;
        margin: 0;
        padding: 0;
      }
      
       header .logo {
         flex-basis: 20%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       header #intro {
         flex-basis: 80%;
       }

       .news {
        display: flex;
        align-items: baseline;
        margin-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 120px;
        font-weight: bolder;
      }
  
      .news h2 {
        margin: 0px 10px;
        padding:0px;
        font-size: 15px;
        flex-basis: 10%;
      }
  
      .date {
        margin: 0px 10px;
        padding:0;
        font-size: 13px;
        flex-basis: 10%;
      }
  
      .website {
        font-size: 14px;
        padding: 0px 10px 0px 18px;
        flex-basis: 60%;
      }
  
      .arrow {
        font-size: 13px;
        display: block;
        background: url(images/arrow_green_right.svg) right bottom 6px/60px 15px no-repeat;
        padding: 0px;
        width: 200px;
      }
    
     .content {
        display: flex;
      }
    .content .content-left {
      flex-basis: 50%;
      padding-top: 10px;
    }
    .content .content-right {
      flex-basis: 50%;
    }

    .english {
      font-size: 35px;
      margin: 0px;
      padding:30px 10px 0px 40px;
      color: #4E5346;
    }
    
    .jp {
      font-size: 14px;
      margin: 10px 0px 0px 0px;
      color: #4E5346;
      padding: 0px 0px 0px 40px;
      font-weight: 500;
    }
    
    .text {
      font-size: 14px;
      margin: 40px 0px 60px;
      color: #4E5346;
      padding: 0px 10px 0px 40px;
      font-weight: 500;
    }

    .text p {
      margin: 0px 0px 25px 0px;
    }

    .explain {
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
      border:1px solid #4E5346;
      margin: 30px 20px 0px 40px;
      padding: 30px 0px 30px 20px;
      width: 400px;
      font-weight: bolder;
      width: 35%;
    }
    .explain span {
    background: url(images/arrow_green_right.svg) center left/160% 4px no-repeat;
    padding-right: 100px;
    }

    .oneofone {
      display: flex;
    }
    
    .chair {
      margin-top: 0px;
      padding: 0px 20px;
    }
    
    .goods, .woods, .woody {
      display:block;
      padding: 0px 20px;
    }
    
    .goods h3 {
      font-size:15px;
      background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
      margin:10px 0px 20px 0px;
      color: #4E5346;
    }
    
    .woody h3 {
      font-size: 15px;
      background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
      margin: 10px 0px 20px 0px;
      color: #4E5346;
    }
    
    .skills {
      padding: 0px 20px;
    }
    
    .facility {
      display: block;
      padding: 0px 20px;
    }
    
    .facility h3 {
      font-size: 15px;
      background: url(images/arrow_green_right.svg) center center/60px 40px no-repeat;
      margin: 10px 0px 20px 0px;
      color: #4E5346;
    }

    .works {
      text-align: center;
      font-size: 35px;
      color: #4E5346;
      margin: 100px 0 0 0;
    }
   
   
    .cases {
      font-size: 14px;
      color: #4E5346;
      padding-bottom: 50px;
      text-align: center;
      margin: 0;
      font-weight: 600;
    }
    
  .pictures {
    position: relative;
    margin: auto;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
  }
   
   .pictures img {
     margin: 20px;
     width: 200px;
     flex-basis: 25%;
   } 

   .us {
    font-size: 15px;
    color: #4E5346;
    border: 1px solid #4E5346;
    box-sizing: border-box;
    padding: 30px 40px 30px 10px;
    margin-bottom: 170px;
    margin-top: 90px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   }
    
    .example {
      background: url(images/arrow_green_right.svg) right center/60px 4px no-repeat;
      display: block;
      text-align: center;
      padding-right:30px;
   }

    .footer {
      display: inline-block;
      color: #4E5346;
      background-color: #ffffff;
      font-size: 15px;
      padding: 50px 20px 0px 20px;
    }

       a  {
         color: #4E5346;
         font-size: 15px;
         text-decoration: none;
       }
       
       a:hover {
         color: #4E5346;
       }

       .eg {
        text-align: center;
        margin-top:150px;
        margin-bottom: 0;
        padding:0;
        outline:0;
        font-size: 35px;
        color: #4E5346;
        animation-name: quality;
        animation-duration: 3xs;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
      
      .products {
        font-size: 14px;
        color: #4E5346;
        text-align: center;
        margin-top: 0;
        margin-bottom: 90px;
        font-weight: bold;
      }

      .about {
        background-color: #4e5346;
      }
      
      .introduction {
         color: #ffffff;
         font-size: 35px;
         text-align: center;
         margin: 0px;
         padding-top: 120px;
       } 
      
       .same {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin: 0;
      }
      
       .border {
        background-color: #4e5346;
        padding-bottom: 160px;
      }
      
      .address {
        background-color: #4E5346;
        color: #ffffff;
        padding: 85px 0px 130px 0px;
        display: flex;
        justify-content: space-around;
      }
      
      .address img {
        width: 27%;
      }
      
      .details {
        text-align: left;
        font-size: 16px;
      }
      
      .info {
        font-size: 15px;
        color: #ffffff;
        margin:  0 60px ;
        text-align: center;
        box-sizing: border-box;
        background: url(images/arrow_white_right.svg) right center/60px 4px no-repeat;
        padding: 20px 90px 20px 0px;
      }
      
      .color {
        box-sizing: border-box;
        border: 1px solid #ffffff ;
        display: block;
        margin-top: 35px;
        margin-bottom: 0;
        padding: 30px 20px;
      }
      
      .home {
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        background-color: #4e5346;
        border-top: 1px solid #72756b;
        border-bottom: 1px solid #72756b;
        padding: 50px;
      }
      
      .hire {
        color: #ffffff;
        font-size: 15px;
        border-color: #72756b;
        background: url(images/arrow_white_right.svg) right center/60px 4px no-repeat;
        padding: 20px 90px 20px 0px;
      }

      .last {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px;
      }
      
      .box {
        /* width:172px; */
        flex-basis: 40%;
        margin-left: 20px;
      }
      
      .copy {
        font-size: 5px;
        margin-top: 40px;
        margin-bottom: 0;
        text-align: left;
      }
      
      .last img {
        width: 45%;
      }
      /* 
      #section {
        align-items: flex-end;
      }
       */
      .toppage {
        flex-basis: 18%;
        text-align: left;
        /* margin-top: 100px;
        margin-bottom: 100px; */
      }
      
      .toppage p {
        margin: 0;
        line-height: 30px;
        font-size: 13px;
        border-left: 1px solid #dcddda;
        padding-left: 15px;
      }
      
      .tells {
        flex-basis: 14%;
        text-align: left;
        /* margin-top: 100px;
        margin-bottom: 100px; */
      }
      
      .tells p {
        margin: 0;
        line-height: 30px;
        font-size: 13px;
        border-left: 1px solid #dcddda;
        padding-left: 15px;
      }
      
      .end {
        flex-basis: 28%;
        text-align: left;
        /* margin-top: 100px;
        margin-bottom: 100px; */
      }
      
      .end p {
        font-size: 13px;
        line-height: 25px;
        border-left: 1px solid #dcddda;
        padding-left: 15px;
        margin: 0;
      }
      
      .end a {
        font-size: 7px;
        margin-left: 13px;
        margin-right: 0;
      }
}  

